# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../../:\Users\Dimitar Kitanovski\Desktop\Documents\Faculty\Summer Semester\Object Oriented Programming\Auditory Exercises\Auditory Exercise 3\Task 1\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
